/* Estilos generales */
body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #9ea1a6; /* Gris para texto */
    /*background-color: #dae6f3; /* Azul oscuro para fondo principal */
    background-color: #0d1b2a;
}

p, button, li {
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background: linear-gradient(135deg, #0d1b2a, #1c4121); /* Variación de azul oscuro */
    color: #F7F2EE;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px #00008080; /* Sombra ligera con azul oscuro */
    border: 2px solid #1c4121;
    border-radius: 5px 5px 20px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 70px;
    margin-right: 15px;
    filter: drop-shadow(0 0 10px #2EC4B6); /* Sombra verde para el logo */
}


/*Animación de Carga*/
.animated-logo {
    animation: bounce 3s ease infinite;
    display: inline-block;
    margin-right: 20px;
}

.logo-texto h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1.8em;
    color: #F7F2EE;
    text-shadow:
        0 0 5px #2EC4B6,  /* Verde para resplandor */
        0 0 10px #2EC4B6,
        0 0 20px #2EC4B6;
}

#Nath {
    font-family: 'Audiowide', cursive;
    font-size: 1.1em;
    margin: 5px 0 0;
    color: #9ea1a6; /* Gris para neutralidad */
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2EC4B6; /* Verde energético */
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li a:hover {
    color: #FF6B35; /* Naranja vibrante para acentos */
    text-shadow:
        0 0 5px #FF6B35,
        0 0 10px #FF6B35,
        0 0 20px #FF6B35;
}

nav ul li a:hover::after {
    width: 100%;
}



.background {
    background-image: url(./image\ 36.png);
    /*Movimiento*/
    background-position: 0 0;
    background-repeat: repeat-x; /* La imagen se repetirá horizontalmente */
    background-size: cover;
    animation: mover-fondo 10s linear infinite; /* La animación durará 10 segundos y será infinita */
    
}



#inicio {
    text-align: left;
    padding: 50px 20px;
    margin: 40px auto;
    max-width: 1200px;
    color: #b69d9d;
}

#presentacion {
    font-size: 3em;
    font-style: italic;
}

#imagen-seguidora {
    position: absolute;
    pointer-events:none; /* Esto evita que la imagen interfiera con la interacción del cursor */
    height: auto;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    transition: opacity 0.5s ease-in-out; /* Transición suave para la opacidad */
    opacity: 0; /* Imagen invisible inicialmente */
}

/* Botones */
.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #77C6ED; /* Verde como color primario para botones */
    color: #0d1b2a; /* Texto en azul oscuro */
    text-decoration: none;
    border: 2px solid #1c4121; /* Borde naranja vibrante */
    border-radius: 5px 5px 20px 20px;
    font-weight: 600;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow:
        0 0 5px #77C6ED,
        0 0 10px #77C6ED,
        0 0 10px #FF6B35; /* Sombra naranja */
}

.btn:hover {
    background-color: #072c28; /* Naranja vibrante en hover */
    color: #77C6ED;
    transform: scale(1.05);
    border: 2px solid #77C6ED; /* Borde naranja vibrante */
    box-shadow:
        0 0 10px #FF6B35,
        0 0 20px #77C6ED,
        0 0 30px #FF6B35;
}


.btn-otro {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FF6B35; /* Verde como color primario para botones */
    color: #0d1b2a; /* Texto en azul oscuro */
    text-decoration: none;
    border: 2px solid #1c4121; /* Borde naranja vibrante */
    border-radius: 5px 5px 20px 20px;
    font-weight: 600;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow:
        0 0 5px #77C6ED,
        0 0 10px #FF6B35,
        0 0 10px #FF6B35; /* Sombra naranja */
}

.btn-otro:hover {
    background-color: #072c28; /* Naranja vibrante en hover */
    color: #77C6ED;
    transform: scale(1.05);
    border: 2px solid #77C6ED; /* Borde naranja vibrante */
    box-shadow:
        0 0 10px #FF6B35,
        0 0 20px #77C6ED,
        0 0 30px #FF6B35;
}

/* Secciones */
.sobre-mi {
    padding: 0;
    margin: 40px auto;
    max-width: 1200px;
    color:#0d1b2a;
}

.sobre-mi h2, .estudios-caso h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.2em;
    font-weight: 700;
    color:  #f7f2ee;
    text-shadow:
        0 0 5px #1c4121,
        0 0 10px #1c4121,
        0 0 0px #1c4121;
}

.contenido-sobre-mi {
    /*flex-shrink: 0; NO UTILIZAR /* Evita que la imagen se reduzca */
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    justify-content: space-between; /* Espacio entre los elementos */
    gap: 20px; /* Espacio entre la imagen y el texto */
    padding: 20px;
}

.contenido-sobre-mi img {
    border-radius: 5px 20px 20px 5px; /* Redondea los bordes de la imagen */
    box-shadow: 0 0 10px #0000001a; /* Sombra ligera */
}

.contenido-sobre-mi p {
    color: #F7F2EE;
    /*OTRO COLOR*/
    flex: 1; /* Hace que el párrafo ocupe todo el espacio restante */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins para el texto */
    font-size: 1.2em;
    line-height: 1.6;
}

#foto-mia {
    box-shadow:
        0 0 5px #FF6B35,
        0 0 10px #FF6B35,
        0 0 20px #2EC4B6;
}

#foto-mia:hover{
    transform: scale(1.05);
    box-shadow:
    0 0 5px #FF6B35,
    0 0 10px #FF6B35,
    0 0 0px #2EC4B6;
}


.proyectos, /*.sobre-mi,*/ .habilidades, .contacto {
    padding: 50px 20px;
    margin: 40px auto;
    /*max-width: 1200px;*/
    max-width: 1800px;
    background: linear-gradient(90deg, #0d1b2a, #0d1b2a, #1c4121);
    /*background: linear-gradient(136deg, #0d1b2a, #1c4121);
    /*box-shadow: 0 0 20px #2ec4b64d; /* Sombra verde */
    border-radius: 5px 20px 20px 5px;
    color: #f7f2ee; /* Texto blanco */
}

.proyectos h2, /*.sobre-mi h2,*/ .habilidades h2, .contacto h2/*, .estudios-caso h2*/{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.2em;
    font-weight: 700;
    color:  #f7f2ee;
    text-shadow:
        0 0 5px #2EC4B6,
        0 0 10px #2EC4B6,
        0 0 0px #2EC4B6;
}

.proyecto {
    margin: 100px 40px 30px 40px;
    /*margin-bottom: 30px NO UTILIZAR*/
    padding: 20px;
    background-color: #77c6ed50;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0 0 15px #77C6ED; /* Sombra verde */
    transition: transform 0.3s, box-shadow 0.3s;
}

.proyecto:hover {
    transform: scale(1.02);
    box-shadow:
        0 0 20px #77C6ED,
        0 0 30px #FF6B35;
}

.proyecto-contenido {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    justify-content: space-between; /* Espacio entre los elementos */
    gap: 20px; /* Espacio entre la imagen y el texto */
}

.proyecto h3, .estudio h3, .proyecto-item h3 {
    font-size: 1.8em;
    margin: 20px 0;
    color: #ff6b35cc; /* Naranja para títulos */
    text-shadow:
    0 0 5px #2ec4b573,
    0 0 10px #2ec4b579,
    0 0 20px #2ec4b550;
}

.proyecto img, /*.estudios-caso img,*/ .proyecto-item img {
    /*flex-shrink: 0; NO UTILIZAR /* Evita que la imagen se reduzca */
    border-radius: 5px 20px 20px 5px;
    box-shadow:
    0 0 5px #FF6B35,
    0 0 10px #FF6B35,
    0 0 20px #2EC4B6;
}

.estudio-img{
    border-radius: 5px 20px 20px 5px;
    box-shadow:
    0 0 5px #FF6B35,
    0 0 10px #FF6B35,
    0 0 20px #2EC4B6;
}

/* Habilidades */
.habilidades-cuadro {
    background-color: #77c6ed50;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0 0 15px #77C6ED; /* Sombra verde */
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    justify-content: space-between; /* Espacio entre los elementos */
    gap: 20px; /* Espacio entre la imagen y el texto */
    padding: 50px;
}

.habilidades-cuadro-titulo{
    font-size: 1.8em;
    margin: 20px 0;
    color: #ff6b35cc; /* Naranja para títulos */
    text-shadow:
    0 0 5px #2ec4b573,
    0 0 10px #2ec4b579,
    0 0 20px #2ec4b550;
}

.habilidades-cuadro li {
    list-style: none;
    font-size: 1.1em;
    color: #F7F2EE;
    /*OTRO COLOR*/
    flex: 1; /* Hace que el párrafo ocupe todo el espacio restante */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins para el texto */
    line-height: 1.6;
}

.habilidades ul img {
    box-shadow:         0 0 10px #FF6B35,
    0 0 20px #FF6B35,
    0 0 30px #77C6ED;
}

/* Formularios */
.contacto form {
    display: flex;
    flex-direction: column;
}

.contacto form label {
    margin-bottom: 10px;
    font-weight: 600;
    color: #FFFFFF;
}

.contacto form input, .contacto form textarea {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #2EC4B6; /* Verde para borde de input */
    border-radius: 5px 5px 20px 20px;
    font-size: 1.1em;
    background-color: #2C2C2C;
    color: #FFFFFF;
    box-shadow: inset 0 0 10px #2EC4B6;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contacto form input:focus, .contacto form textarea:focus {
    border-color: #FF6B35; /* Naranja en enfoque */
    box-shadow: inset 0 0 10px #FF6B35, 0 0 10px #FF6B35;
    outline: none;
}

.contacto form button {
    padding: 15px;
    background-color: #77C6ED; /* Verde para botón */
    color: #0d1b2a;
    border: none;
    border-radius: 5px 5px 20px 20px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow:
        0 0 5px #77C6ED,
        0 0 10px #77C6ED,
        0 0 10px #FF6B35;
}

.contacto form button:hover {
    background-color: #072c28; /* Naranja en hover */
    color: #FF6B35;
    box-shadow:
        0 0 10px #FF6B35,
        0 0 20px #FF6B35,
        0 0 30px #77C6ED;
}

input::placeholder, textarea::placeholder {
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF; /* Cambia 'red' por el color que prefieras */
    opacity: 1; /* Asegúrate de que la opacidad esté al 100% */
  }

#estudios-caso {
    /*background-image: url(./Sparkle-PNG-Pic\ 1.png);*/
    text-align: center;
    padding: 50px 20px;
    margin: 40px auto;
    color: #F7F2EE;
    /*OTRO COLOR*/
    max-width: 1200px;
}

.estudios-caso p{
    font-size: 1.2em;
}


/*.study-section {
  background-color: #77c6ed50;
  margin: auto 400px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: flex-start;
  border-radius: 5px 5px 20px 20px;
  overflow: hidden;
  position: relative;
}

.marquee-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  animation: mover-item 20s linear infinite;
  /* Ajusta el ancho del contenedor para asegurarte de que los elementos se muevan correctamente */
 /* width: calc(10% * 8); /* Suponiendo que tienes 8 elementos */
/*}

.study-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
  /* Espacio entre los ítems */
/*  margin-right: 40px;
}

.study-item img {
  width: 50px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(29%) sepia(57%) saturate(2211%) hue-rotate(83deg) brightness(91%) contrast(91%);
  transition: filter 0.3s ease;
  margin-bottom: 10px;
}

.study-item img:hover {
filter: invert(81%) sepia(20%) saturate(3586%) hue-rotate(158deg) brightness(96%) contrast(89%);
}

.study-item p {
  font-size: 14px;
  color: #F7F2EE;
}

/*SEGUNDA FORMA*/
.study-sectionD {
    background-color: #77c6ed50;
    margin: auto 200px;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px; /* Espacio entre cada herramienta */
    justify-content: center; /* Alinea las herramientas en el centro */
    border-radius: 5px 5px 20px 20px;
  }
  
  .study-itemD {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; /* Ajusta el ancho según lo necesites */
    text-align: center;
  }
  
  .study-itemD img {
    width: 50px; /* Ajusta el tamaño de los logos */
    height: auto;
    /*filter: brightness(0) saturate(100%) invert(29%) sepia(57%) saturate(2211%) hue-rotate(83deg) brightness(91%) contrast(91%);*/
    transition: filter 0.3s ease;
    margin-bottom: 10px; /* Espacio entre el logo y el nombre de la herramienta */
  }

  .study-itemD img:hover {
    /*filter: invert(81%) sepia(20%) saturate(3586%) hue-rotate(158deg) brightness(96%) contrast(89%);*/
    filter: brightness(0) saturate(100%) invert(29%) sepia(57%) saturate(2211%) hue-rotate(83deg) brightness(91%) contrast(91%);
    }
  
  .study-itemD p {
    font-size: 14px; /* Tamaño del texto debajo de cada logo */
    color: #F7F2EE; /* Color del texto */
  }

/*.estudios-caso p {
        text-align: center;
    padding: 50px 20px;
    margin: 40px auto;
    max-width: 1200px;
}*/

.redes-sociales ul {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 20px; /* Espacio entre la imagen y el texto */
}
.redes-sociales a {
    color:  #2EC4B6;
    
}

.redes-sociales a:hover{
    color:  #FF6B35;
}

.redes-sociales li {
    
    list-style: none;
    
}

.colored-svg {
    filter: invert(81%) sepia(20%) saturate(3586%) hue-rotate(158deg) brightness(96%) contrast(89%);
}

.colored-svg:hover {
    filter: invert(57%) sepia(91%) saturate(2817%) hue-rotate(338deg) brightness(100%) contrast(96%);
}



/* Pie de página */
footer {
    background-color: #0d1b2a;
    color: #9ea1a6;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    box-shadow: 0 0 10px #00FFFF;
}

footer p {
    margin: 0;
    font-size: 1em;
}




/*CARRUSEL SECCIÓN HABILIDADES*/
.skills-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    position: relative;
    /*width: 100%;*/
    margin: 0 auto;
  }
  
  .carousel-container {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 100px 40px 30px 40px;
    /*margin-bottom: 30px NO UTILIZAR*/
    padding: 20px;
    background-color: #77c6ed50;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0 0 15px #77C6ED; /* Sombra verde */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skill-item {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
  }
  
  .skill-item img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }

  /*.skill-item img:hover {
    width: 200%;
    height: auto;
    margin-bottom: 1em;
  }*/
  
  .carousel- {
    background-color: #FF6B35;
    color: #77C6ED;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow:         0 0 10px #FF6B35,
    0 0 10px #FF6B35,
    0 0 10px #77C6ED;
  }
  
  .prev-btn {
    left: 0;
    border-radius: 20px 5px 5px 20px;
  }
  
  .next-btn {
    right: 0;
    border-radius: 5px 20px 20px 5px;
  }


/*CARRUSEL SECCIÓN PROYECTOS*/
.proyecto-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    position: relative;
    width: 100%;
    margin: 60 auto;
  }
  
  .carousel-container-proyecto {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 100px 40px 30px 40px;
    /*margin-bottom: 30px NO UTILIZAR*/
    padding: 20px;
    background-color: #77c6ed50;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0 0 15px #77C6ED; /* Sombra verde */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .proyecto-item {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
  }

  .proyecto-item p {
    text-align: center;
    font-size: 1.2em ;
    padding: 0 200px;
  }
  
  .proyecto-item img {
    width: 20%;
    height: auto;
    margin-bottom: 1em;
  }

  /*.skill-item img:hover {
    width: 200%;
    height: auto;
    margin-bottom: 1em;
  }*/
  
  .btn-proyecto {
    background-color: #FF6B35;
    color: #77C6ED;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1.5em;
    position: relative;
    /*top: 100%;*/
    transform: translateY(-20%);
    box-shadow:         0 0 10px #FF6B35,
    0 0 10px #FF6B35,
    0 0 10px #77C6ED;
  }

  .btn-proyecto:hover {
    background-color: #072c28; /* Naranja vibrante en hover */
    color: #77C6ED;
    transform: scale(1.2);
    border: 2px solid #77C6ED; /* Borde naranja vibrante */
    box-shadow:
        0 0 10px #FF6B35,
        0 0 20px #77C6ED,
        0 0 30px #FF6B35;
  }

  .prev-proyecto {
    left: 0;
    border-radius: 20px 5px 5px 20px;
  }
  
  .next-proyecto {
    right: 0;
    border-radius: 5px 20px 20px 5px;
  }

.prev-proyecto:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/*Animación logo*/

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Posición inicial */
    }
    50% {
        transform: translateY(-20px); /* Mover hacia arriba en el medio de la animación */
    }
}


/* Animaciones */
@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
}


@keyframes mover-item {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-110%); }
  }
  
.inicio::before {
    animation: flicker 3s infinite;
}

section {
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*Movimiento para la bola*/
@keyframes mover-fondo {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -5700px 0; /* Ajusta la distancia del movimiento */
    }
}


/* Responsividad */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .menu {
        margin: 0;
    }



    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        font-size: xx-small;
        margin: 5px 0;
    }

    .proyecto-item p {
        padding: 0;
        font-size: 0.8em;
    }

    .proyecto-item img {
        width: 40%;
    }

    .proyecto-item h3 {
        text-align: center;
    }

    .btn-proyecto {
        transform: scale(60%);
        margin: 0;

    }

    .btn-proyecto:hover {
        transform: scale(70%);
    }

    .prev-proyecto {
        left: -30px;
      }
      
      .next-proyecto {
        right: -30px;
      }

    .carousel-container-proyecto {
        display: flex;
        overflow: hidden;
        width: 100%;
        margin: 0 -40px;
        /*margin-bottom: 30px NO UTILIZAR*/
        padding: 5px;
      }
      

    .contenido-sobre-mi p, .estudios-caso p {
        font-size: 0.8em;
    }

    .habilidades ul {
        flex-direction: column;
        align-items: center;
    }

    .habilidades ul li {
        flex: none;
        width: 80%;
        font-size: 1.0em;
        padding: 5px auto;
    }

    .habilidades ul img {
        opacity: 100;
        margin: 0;
        padding: 0;
        transform:rotate(90deg);
        box-shadow:         0 0 10px #FF6B35,
        0 0 20px #FF6B35,
        0 0 30px #77C6ED;
    }

    .contenido-sobre-mi{
        flex-direction: column; /* Cambia la alineación a vertical */
        align-items: flex-start; /* Alinea los elementos al inicio */
    }

    .contenido-sobre-mi img , #foto-mia {
        width: 150px; /* Asegura que la imagen ocupe todo el ancho disponible */
        height: 200px;
        margin-bottom: 20px; /* Añade espacio debajo de la imagen */
        
    }    

    .proyecto-contenido {
        flex-direction: column;
        align-items: flex-start;
    }

    .estudio-img{
        width: 250px;
        height: 150px;
    }

    .proyecto {
        margin: 0 10px;
    }

/*    .study-section {
        margin: auto 20px;
        padding: 5px 0px;
      }
    
      .study-item {
        width: 60px;
        margin-right: 10px;
      }
    
      .study-item img {
        width: 30px;
        margin-bottom: 5px;
      }
    
      .study-item p {
        font-size: 10px;
      }

      .marquee-container {
        animation: mover-item 5s linear infinite;
      }

    @keyframes mover-item {
        0% { transform: translateX(30%); }
        100% { transform: translateX(-20%); }
    }*/
      


    .btn {
        font-size: 1em;
        padding: 10px 20px;
    }


    .study-sectionD {
        margin: auto 0px;
        padding: 5px 0px;
      }
    
      .study-itemD {
        width: 60px;
        margin-right: 10px;
      }
    
      .study-itemD img {
        width: 20px;
        margin-bottom: 5px;
      }
    
      .study-itemD p {
        font-size: 10px;
      }

    #presentacion {
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px) {
    #imagen-seguidora {
        display: none; /* Oculta la imagen en pantallas pequeñas */
    }
}


/* Otras */
@media (max-width: 1200px) {
    .study-section {
      margin: auto 100px;
    }
    
    .study-item {
      width: 80px;
      margin-right: 15px;
    }
    
    .study-item img {
      width: 40px;
    }


    .study-sectionD {
        margin: auto 200px;
      }
      
      .study-itemD {
        width: 80px;
        margin-right: 15px;
      }
      
      .study-itemD img {
        width: 40px;
      }
    
  }
  
  @media (max-width: 800px) {
    .study-section {
      margin: auto 50px;
    }
    
    .study-item {
      width: 60px;
      margin-right: 10px;
    }
    
    .study-item img {
      width: 30px;
    }




    .study-sectionD {
        margin: auto 100px;
      }
      
      .study-itemD {
        width: 60px;
        margin-right: 10px;
      }
      
      .study-itemD img {
        width: 30px;
      }
  }
  
  @media (max-width: 600px) {
    .study-section {
      margin: auto 20px;
    }
    
    .study-item {
      width: 50px;
      margin-right: 5px;
    }
    
    .study-item img {
      width: 25px;
    }



    .study-sectionD {
        margin: auto 0px;
      }
      
      .study-itemD {
        width: 50px;
        margin-right: 5px;
      }
      
      .study-itemD img {
        width: 20px;
      }
  }
  
  @media (max-width: 400px) {
    .study-section {
      margin: auto 0px;
    }
    
    .study-item {
      width: 40px;
      margin-right: 2px;
    }
    
    .study-item img {
      width: 20px;
    }




    .study-sectionD {
        margin: auto 0px;
      }
      
      .study-itemD {
        width: 40px;
        margin-right: 2px;
      }
      
      .study-itemD img {
        width: 10px;
      }
  }
